<header class="header">
  <div class="header__container">
    {{#if session.isAuthenticated}}
      <p class="welcome">
        Welcome, {{session.session.content.authenticated.user.username}}
      </p>
    {{else}}
      {{#link-to "register" class="links"}}
      <p class="login-link">Register</p>
      {{/link-to}}
    {{/if}}

    {{#link-to "room" class="title"}}
      <h2 class="login-link">Preds Chatty</h2>
    {{/link-to}}

    {{#if session.isAuthenticated}}

      {{#link-to "logout" class="links"}}
        <p class="login-link">Logout</p>
      {{/link-to}}

    {{else}}

    {{#link-to "login" class="links"}}
      <p class="login-link">Login</p>
    {{/link-to}}

    {{/if}}
  </div>
</header>

{{#if session.isAuthenticated}}

{{else}}
  <h2 class="error-msg">You must be logged in to view the chatroom.</h2>
{{/if}}
<div class="content">
    {{outlet}}
</div>
